{% extends "entries/base.html" %} {% block content %}

<div class="col-md-8">
    <h1 class="my-4">Delete</h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Username:</label>
                        <input value="{{ form.username.value|default_if_none:'' }}" type="text" class="form-control" name="username" />
                    </div>
                    <button type="submit" class="btn btn-dark">Delete Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
