{% extends "entries/base.html" %} {% block content %}

<div class="col-md-8">
    <h1 class="my-4">Log In</h1>
    <div class="card mb-4">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label>Username:</label>
                    <input value="{{ form.username.value|default_if_none:'' }}" type="text" class="form-control" name="username" autofocus />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input value="{{ form.password.value|default_if_none:'' }}" type="password" class="form-control" name="password" />
                </div>

                <button type="submit" class="btn btn-dark">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
