{% extends "entries/base.html" %} {% block content %}

<style>
    .form-group ul {
        list-style-type: none;
        margin-bottom: 30px;
        padding-left: 3px;
    }

    .form-group li::before {
        content: "– ";
    }
</style>

<div class="col-md-8">
    <h1 class="my-4">Register Account</h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %} {{form.as_p}}
                    <button type="submit" class="btn btn-dark">Register Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
