{% extends "entries/base.html" %} {% block content %}

<style>
    .form-group ul {
        list-style-type: none;
        margin-bottom: 30px;
    }

    .form-group li::before {
        content: "– ";
    }
</style>

<div class="col-md-8">
    <h1 class="my-4">Register</h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %} {{form.as_p}}
                    <button type="submit" class="btn btn-dark">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- <form method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label>Username:</label>
        <input value="{{ form.username.value|default_if_none:'' }}" type="text" class="form-control" name="username" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input value="{{ form.password.value|default_if_none:'' }}" type="password" class="form-control" name="password" />
    </div>

    <button type="submit" class="btn btn-secondary">Login</button>
</form> -->

<!-- <form method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label>Username:</label>
        <input value="{{ form.username.value|default_if_none:'' }}" type="text" class="form-control" name="username" />
    </div>
    <div class="form-group">
        <label>Username:</label>
        <input value="{{ form.email.value|default_if_none:'' }}" type="text" class="form-control" name="email" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input value="{{ form.password1.value|default_if_none:'' }}" type="password" class="form-control" name="password1" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input value="{{ form.password2.value|default_if_none:'' }}" type="password" class="form-control" name="password2" />
    </div>

    <button type="submit" class="btn btn-dark">Create Account</button>
</form> -->
