{% extends "entries/base.html" %} {% block content %}

<div class="col-md-12">
    {% if user.is_authenticated and user.id == entry.entry_author_id %}
    <h1 class="my-4">Delete Entry</h1>
    <h3>Delete: {{ entry.entry_title }}</h3>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <br />
            <br />
            <button type="submit" class="btn btn-dark">Delete Entry</button>
        </form>
    </div>
    {% else %}
    <h1 class="my-4">Access Denied</h1>
    {% endif %}
</div>
{% endblock %}
