{% extends "entries/base.html" %} {% block content %}

<!-- Blog Entries Column -->
<div class="col-md-12">
    <h1 class="my-4">{{ object.entry_title }}</h1>
    <!-- Blog Post -->
    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text">{{ object.entry_text| safe }}</p>
        </div>
        <div class="card-footer text-muted">
            <strong>{{ entry.entry_author }}</strong>
            {{ entry.entry_date }} {% if user.is_authenticated and user.id == entry.entry_author_id %} - <a href="{% url 'update_entry' entry.pk %}">Edit</a> -
            <a href="{% url 'delete_entry' entry.pk %}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
